* {
    margin: 0;
    padding: 0
}

h1 {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#grid {
    margin: 10px auto;
    border: 2px solid red;
    height: 850px;
    width: 850px;
    display: grid;
}
